@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-tr from-40% from-purple-900 via-50% via-pink-900 to-60% to-purple-900 animate-gradient;
    background-size: 500% 500%;
  }

.playwrite-es-deco {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}



